<div class="mat-dialog-header">
    <h2 class="mb-2" mat-dialog-title>
        Seleccionar Sucursal
    </h2>
    <button mat-icon-button mat-dialog-close>
        <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
</div>

<mat-dialog-content class="p-6">
    <div class="mb-6">
        <ng-autocomplete 
            [data]="sucursales"
            [placeholder]="'Buscar sucursal'"
            [searchKeyword]="'sucursal'"
            (selected)='onSelectedSearch($event)'
            (inputChanged)='onChangeSearch($event)'
            (inputCleared)="onClearSearch()"
            [itemTemplate]="itemTemplate">                                 
        </ng-autocomplete>
        
        <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.sucursal"></a>
        </ng-template>
    </div>

    <mat-radio-group [value]="selected?.idsucursal" (change)="onChangeSucursal($event)">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z3 w-full">
            <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Sucursal </th>
            <td mat-cell *matCellDef="let item"> {{item.sucursal}} </td>
            </ng-container>
        
            <ng-container matColumnDef="correo">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let item"> {{item.correoSuc}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
            <td mat-cell *matCellDef="let item"> <mat-radio-button class="ml-3" [value]="item.idsucursal"></mat-radio-button> </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="3">
                  No se encontraron resultados.
                </td>
            </tr>
        </table>
    </mat-radio-group>
</mat-dialog-content>
