mat-tab-header {
    .mat-badge {
        margin-right: 20px;
        .mat-badge-content {
            right: -25px !important;
            top: -8px !important;
        }    
    }
}

mat-tab-group.tab-group-pricing {
    mat-tab-header {
        .mat-tab-label-container {
            .mat-tab-list .mat-tab-labels {
                justify-content: center !important;
            }
        }
    }
}